.readyToCollaborateTogether {
    background-color: var(--importantBg);

    p {
        color: #a3a3a3;
    }
}

.myProfileContent,
.retrainingContent,
.myTechnicalSkillsContent,
.myDiplomasContent {
    width: calc(100% - 2rem);
}


.myDiplomas {
    position: relative;
}

.myDiplomas::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/images/diplomas.jpg');
    background-position: 50% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%) brightness(0.25);
    z-index: 0;
}

/* contenu au-dessus du pseudo-élément */
.myDiplomas>* {
    position: relative;
    z-index: 1;
}

// .readyToCollaborateTogether {
//     margin-top: 2rem;
// }