.sectionContent {
    max-width: var(--max-width);
    margin: 0 1rem;
}

.homePresentationContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    // align-items: center;
}

@media (max-width: 767px) {
    .homePresentationContent {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

.PreferredTechno {
    background-color: var(--importantBg);

    p {
        color: #a3a3a3;
    }
}

.PreferredTechnoContent,
.recentProjectsContent {
    width: 100%;
}