.mainContent {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1rem;

    section {
        padding: 3rem 0;
    }

    .homePresentation {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 3rem;
        align-items: center;
    }

    @media (max-width: 767px) {
        .homePresentation {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
        }
    }
}