.articleRecentProjects {
    text-align: center;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .listRecentProjects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 3rem;
        // align-items: center;
    }
}