.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // justify-content: space-between;
    // align-items: center;
    // border: 1px solid var(--title);
    border-radius: 20px;
    padding: 0.5rem;
    gap: 1rem;

    .tag {
        width: fit-content;
        padding: 0.5rem 1rem;
        border-radius: 100px;
        color: var(--important);
        background-color: var(--importantBg);
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .presentationAction {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        flex-wrap: wrap;

    }

    .iconsFooter {
        justify-content: end;
    }

    button {
        flex: 1 1 auto;
    }

    // @media (max-width: 767px) {
    //     .presentationAction {
    //         width: 100%;
    //         flex-direction: column;
    //     }
    // }
}