.containerCountdown {
    position: relative;
}

.rings {
    transform: rotate(-90deg) scaleY(-1);
    transition: transform 0.3s ease;
}

.ring {
    fill: none;
    stroke-width: 18;
    stroke-linecap: round;
    stroke: var(--important);
    transition: stroke-dashoffset 0.5s ease;
}

.ring-bg {
    stroke: var(--importantBg);
}

.ring5-progress {
    filter: brightness(1);
}

.ring4-progress {
    filter: brightness(1.9);
}

.ring3-progress {
    filter: brightness(2.8);
}

.ring2-progress {
    filter: brightness(3.7);
}

.ring1-progress {
    filter: brightness(4.6);
    transition: stroke-dashoffset 0.005s ease;
}


.center-content {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--important);
}


.day-label {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
}

.J {
    color: var(--title);
}

.time-remaining {
    font-size: 16px;
    color: var(--p);
    font-weight: 300;
}

.controlsPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    button {
        align-self: flex-end;
    }

}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: max-height 0.3s ease, opacity 0.3s ease;

    &.hide {
        max-height: 0;
        opacity: 0;
    }

    &.show {
        opacity: 1;
    }

    label {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
}

.datetime {
    font-size: 1.2rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
    background-color: var(--title);
    border: 2px solid transparent;
    font-family: var(--font-mona);
    // width: 100%;

    &:focus-visible {
        outline: 5px solid var(--important);
        outline-offset: 5px;
        border-radius: 0.5rem;
    }
}


@media (max-width: 414px) {
    .counter {
        overflow: hidden;
    }

    .rings {
        transform: rotate(-90deg) scaleY(-1) scale(0.7);
    }

    .center-content {
        top: 160px;
        transform: scale(0.7);
    }

    .controlsPanel {

        button {
            margin-right: 5rem;
        }

    }
}