:root {
  --font-default: var(--font-mona), Arial, Helvetica, sans-serif;

  --background: #1f1d1d;
  --title: #dddddd;
  --p: #8f8f8f;

  --important: #2dd4bf;
  --importantBg: #14b8a633;
  --importantBgButton: #14b8a6;

  --max-width: 1280px;
}


body {
  height: 100%;
  color: var(--p);
  background: var(--background);
  font-family: var(--font-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title);
  font-weight: 600;
}

h1 {
  font-size: 2.5em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.layout {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  width: 100%;
  justify-items: center;
  // margin: 0 auto;
  // padding: 1rem;
  padding: 3rem 0;
}

.important {
  color: var(--important);
}

button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  flex: 1 1 auto;

  padding: 1rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid var(--title);

  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient(200deg, var(--background), var(--importantBg));

  color: var(--title);

  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
}

.lightButton {
  background: var(--title);

  color: var(--background);
  transition: all 0.3s ease-in-out;

  &:hover {
    background: linear-gradient(200deg, var(--background), var(--importantBg));
    color: var(--title);
  }
}